.labelContainer:hover .hoverContent {
  opacity: 1;
}
.hoverContent {
  opacity: 0;
  animation: hoverAnimation 1s;
}
/* Add any additional styles if needed */
.backdrop-blur-sm {
  backdrop-filter: blur(4px);
}

